@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


* {
  font-family: "Outfit", sans-serif;
}

body {
  background: url('../assets/bgImage.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100vh;
  background-color: black;
}

.container {
  @apply mx-auto w-full min-h-screen flex items-center justify-center p-4 sm:p-8 lg:p-12
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(139, 92, 246, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(139, 92, 246, 0.5);
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(139, 92, 246, 0.3) transparent;
}